

<input type="checkbox"/>
<h2>Make the curriculum 4 pomodoros<//h2>
<a href="#">Edit</a>
<a href="#">Delete</a>
<a href="index.html">go back</a> 
<a href="show.html"> Taking notes whenever you want/offline</a>


<title>Todo Application</title>
<u1>    
<li>
   <a href="/todos/1"> Reminds to do the work by ringing alarm </a>
</li>
<li>
    <a href="/todos/2"> Taking notes /offline</a>
</li>
<ul>       
    
    Code word <%=@code_word%>    
    
    
