<u1> 
        <li>Reminds to do the work by making sound </li>
        <li>Taking notes whenever you want/offline</li>
        <li>Notifications</li>
        <li>Checklist</li>
<u1>           
           